body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
/* Main Page */
.header {
  background: #ffffff;
}
.navigation-logo-1 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.navigation-logo-2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-item,
.contact-item,
.goals-items,
.services-images,
.team-member,
.porfolio-examples,
.top-buttons {
  list-style-type: none;
}
.navigation-link {
  color: #2e2f42;
  text-decoration: none;
}
.header-logo,
.footer-logo {
  text-decoration: none;
}
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.mail-link,
.tel-link {
  color: #434455;
  text-decoration: none;
}
.navigation-item .navigation-link:focus,
.navigation-item .navigation-link:hover,
.contact-item .mail-link:focus,
.contact-item .mail-link:hover,
.contact-item .tel-link:focus,
.contact-item .tel-link:hover {
  color: #4d5ae5;
}
.first-section {
  background: #2e2f42;
}
.first-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-order {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  cursor: pointer;
}
.button-order:focus,
.button-order:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.third-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-paragraphs,
.members-paragraphs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.second-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.thourth-section {
  background: #f4f4fd;
}
.footer {
  background: #2e2f42;
}
.footer-logo-1 {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Portfloio */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.second-title-portfolio {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
